{% extends "base.html" %}

{% block content %}

<!-- Speakers -->
<div class="border-top my-3"></div>
<div class="row p-4" id="faq">
  <div class="col-12 bd-content">
    <h2 class="text-center">Speakers</h2>
  </div>
</div>
<div class="speakers">
  {% for speaker in speakers %}
<div class="row p-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-3 col-sm-5">
            <img src="{{ speaker.image }}" width="100%" class="img-thumbnail" />
          </div>
          <div class="col-md-9 col-sm-6">
            <div class="m-3 text-muted">
              <h3>
                <a href="speaker_{{ speaker.UID }}.html" class="main-title">
                  {{ speaker.talk_title }}
                </a>
              </h3>
            </div>
            <div class="m-3 text-muted">
              <span class="card-title h3">
                {{ speaker.speaker }} {% if speaker.institution %} / {{ speaker.institution }}{% endif %}
              </span>
            </div>
            <p></p>
            <div class="m-3">
              {{ speaker.talk_abstract }}
            </div>
            <div class="m-3">
              <b>Speaker Bio:</b> {{ speaker.bio }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endfor %}
</div>

{% endblock %}
